 body {
    content: "";
  position: fixed;
  background-image: url("https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSnvoxJw7zck-PoMfjnRssR9hduyF4vyxnnwwKkuKTtDHeoLjoqFPyd6fVBfbUSr2_V7ux3rlMc5vEwBAdsPpEdu6Nqkxwrzb6b6Lq2HWnVYPnvglO6eM1dyrPax7PuczWNCIxTlA&usqp=CAc");
  background-size:cover;
  background-position:cover;
  background-repeat: no-repeat;

  color: rgb(29, 29, 31);
}
  main, div {
  position: relative;
  z-index: 1;
}
  body, html {
    height: 100%;
}

/* The hero image */
/*.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url="urlhttps://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSnvoxJw7zck-PoMfjnRssR9hduyF4vyxnnwwKkuKTtDHeoLjoqFPyd6fVBfbUSr2_V7ux3rlMc5vEwBAdsPpEdu6Nqkxwrzb6b6Lq2HWnVYPnvglO6eM1dyrPax7PuczWNCIxTlA&usqp=CAc";

  /* Set a specific height */
 /* height: 50%;

  /* Position and center the image to scale nicely on all screens */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
/*.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

/*}