body{
    
    background-color: aqua;
    text-align: center;
    color:green;
    text-shadow: #17d2f3;

}
body {
    background-image: url("https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSnvoxJw7zck-PoMfjnRssR9hduyF4vyxnnwwKkuKTtDHeoLjoqFPyd6fVBfbUSr2_V7ux3rlMc5vEwBAdsPpEdu6Nqkxwrzb6b6Lq2HWnVYPnvglO6eM1dyrPax7PuczWNCIxTlA&usqp=CAc");
    background-color: #17d2f3; /* Fallback color */
}
